<html>
<head>
    <title>Programmers lair!</title>
    <script type="text/javascript" src="/static/update.js"></script>
    <link href="static/store.css" rel="stylesheet">
</head>

<body>
    <h1>Repository hub:</h1>
    <h3>Add new repository:</h3>
    <form>
        <div>
            <input type="text" name="title" id="title">
            <label for="title">Title</label>
        </div>
        <div>
            <input type="text" name="link" id="link">
            <label for="link">Link of this repository</label>
        </div>
        <button onClick="addRepository()">Add</button>
        <button onClick="clearAll()">Clear all </button>
    </form>
    <ul>
        {% for repository in repository_list %}
        <li>
            <div>
                <div>{{ repository['title'] }}</div>
                <div><a href="{{  repository['link'] }}">{{ repository['link'] }}</a></div>

            </div>
        </li>
        {% endfor %}
    </ul>
</body>
</html>
